body {
    background: #FFFFFF;
}

h1 {
    text-align: center;
}

.div-img {
    width: 400px;
    float: left;
}

.div-model-img-back {
    background-image: url("../../resources/images/bg_back.png");
    background-size: cover;
    width: 400px;
    height: 240px;
    margin: 0 auto;
}

.div-model-img-front {
    background-image: url("../../resources/images/bg_front.png");
    background-size: cover;
    width: 400px;
    height: 240px;
    margin: 0 auto;
}
.div-border{
    /*border: 1px dashed chartreuse;*/
}

.div-model-wall {
    width: 400px;
    height: 240px;
    position: relative;
    margin: auto;
}

.img-logo-front {
    width: 100px;
    height: 100px;
}

.img-logo-back {
    width: 100px;
    height: 100px;
}

.slc-font-family-names {
    width: 108px;
}

.ipt-word {
    width: 346px;
    height: 18px;
    margin: 0 auto;
    display: block;
    float: left;
}

.a-word-clear {
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 3px;
}

.a-img-clear {
    display: block;
    float: right;
    width: 18px;
    height: 18px;
    margin-top: 8px;
}

.img-word-clear {
    width: 18px;
    height: 18px;
    border:0 none;//去掉IE10及以下会显示的边框
}

.img-img-clear {
    width: 18px;
    height: 18px;
    border:0 none;//去掉IE10及以下会显示的边框
}

.div-setting-select {
    width: 375px;
    margin: 0 auto;
    background: blanchedalmond;
    padding: 10px 16px;
    height: auto;
}

.div-setting-word {
    width: 375px;
    height: auto;
    margin: 15px auto;
    padding-bottom: 15px;
}

.div-setting-word-top {
    width: 370px;
    margin: 0 auto;
}

.div-setting-img {
    width: 375px;
    height: 60px;
    margin: 10px auto;
    padding: 10px 16px;
    background: #fddfdf;
}

.img-logo-front-show {
    width: 60px;
    height: 60px;
    float: left;
}

.img-logo-back-show {
    width: 60px;
    height: 60px;
    float: left;
}

.span-slider {
    background: khaki;
    border-color: khaki;
    width: 250px;
    margin: 10px 0 10px 16px;
    float: left;
    padding: 0;
}

.span-adjust-size {
    font-size: 18px;
    padding-left: 12px;
}

.div-word-setting {
    width: 370px;
    margin: 0 auto;
}

.div-setting {
    float: right;
    width: 425px;
    max-height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
}

.div-setting-front {
    width: 425px;
}

.div-placeholder {
    display: block;
    width: 425px;
    height: 40px;
}

.div-main {
    width: 882px;
    height: 600px;
    margin: 0 auto;
    background: #E8E8E8;
    padding: 16px;
}

.img-move {
    position: absolute;
    padding: 1px;
}

.img-border-show {
    border: firebrick 1px dashed;
    padding: 0;
}

.div-add {
    width: 425px;
    height: 64px;
    margin: 0 auto;
    padding-top: 32px;
}

.ipt-add-word {
    width: 150px;
    margin-right: 32px;
    background: coral;
    border-color: coral;
    display: block;
    color: white;
    float: right;
}

.ipt-add-logo {
    width: 150px;
    margin-left: 32px;
    background: coral;
    border-color: coral;
    display: block;
    color: white;
    float: left;
}

.div-page {
    background: white;
    border: #ffe2a3 solid 1px;
}

.ipt-save {
    display: block;
    width: 240px;
    margin: 24px auto;
}

/*右边顶部*/
ol, ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.div-page-change a {
    text-decoration: none;
    line-height: 35px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    display: block;
    color: black;
}

.div-page-change {
    display: block;
    height: 35px;
}

.div-page-change li {
    width: 100px;
    height: 35px;
    float: left;
    overflow: hidden;
    text-align: center;
    border: none;
}

.div-page-change .li-select {
    border: 1px solid #ffe2a3;
    border-bottom: none;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ffefc0), to(#fffcf3));
}